---
---
<!DOCTYPE html>
<!-- grab author vars from YAML in _data -->
{% assign author = site.data.authors[page.author] %}
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              {% if author %}
                {% if author.image %}
                  <div class="author-image" style="background-image: url({{ site.url }}/assets/images/{{ author.image }})">Author</div>
                {% else %}
                  <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
                {% endif %}
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.name }}</h4>
              {% else %}
                <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
                <h4 class="author-name" itemprop="author">EdinbR</h4>
              {% endif %}
              on
              <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        <script>
          (function ($) {
              "use strict";
              $(document).ready(function(){
                  var $window = $(window),
                      $image = $('.post-image-image');
                  $window.on('scroll', function() {
                      var top = $window.scrollTop();

                      if (top < 0 || top > 1500) { return; }
                      $image
                          .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                          .css('opacity', 1-Math.max(top/700, 0));
                  });
                  $window.trigger('scroll');

                  var height = $('.article-image').height();
                      $('.post-content').css('padding-top', height + 'px');

                  $(function() {
                    $('a[href*=#]:not([href=#])').click(function() {
                      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                          $('html,body').animate({
                            scrollTop: target.offset().top
                          }, 500);
                          return false;
                        }
                      }
                    });
                  });

              });

          }(jQuery));
        </script>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              {% if author %}
                {% if author.image %}
                  <div class="author-image" style="background-image: url({{ site.url }}/assets/images/{{ author.image }})">Author</div>
                {% else %}
                  <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
                {% endif %}
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.name }}</h4>
              {% else %}
                <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
                <h4 class="author-name" itemprop="author">EdinbR</h4>
              {% endif %}
              on
              <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          <div class="post-reading">
            <span class="post-reading-time"></span> read
          </div>
          <a name="topofpage"></a>
          {{content}}
        </section>
        <footer class="post-footer">
          <section class="share">
            {% for social in site.social %}
              {% if social.share_url != null %}
                <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                  onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </section>
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by:</span></h5>
            </br>
            <section class="author">
              <!-- allow for per-post author images -->
                {% if author %}
                <div class="author-image" style="background-image: url({{ site.url }}/assets/images/{{ author.image }})">Blog Logo</div>
                <h4>{{ author.name }} <sup><span style="font-size: .7rem;">
                {% if author.twitter %}
                  <a href="{{ author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if author.email %}
                  <a href="mailto:{{ author.email }}" target="_blank"><i class="fa fa-envelope"></i></a>
                {% endif %}
              </sup>
              </h4>
                <p class="bio">{{author.bio}}</p>
              {% else %}
                <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
                <h4>{{ site.author }}</h4>
                <p class="bio">{{author.bio}}</p>
              {% endif %}

              <!-- Removing date because it is also at the top of the post: redundant -->
              <!--<hr> -->
              <!--<p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>-->
            </section>
          </div>
          {{/post}}
          <div class="isRight">
            <h5 class="index-headline featured"><span>Sponsored by:</span></h5>
            <footer class="site-footer">
              <a href="https://www.jumpingrivers.com/?utm_source=sponsor&utm_medium=image&utm_campaign=edinbR"> 
              <img src="{{ site.url }}/assets/images/JumpingRivers.png" style="max-width:50%;"/></a>
              <p>If you would like to sponsor EdinbR, please get in touch!</p> 
            </footer>
          </div>
        </div>
        <div class="sub-post">
          <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i>  Subscribe to EdinbR updates</span></a>
          &bull; Content <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a> licensed.
        </div>
      </article>



      {% if page.comments %}
            {% include disqus_comments.html %}
      {% endif %}





    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <br />
        <!-- <h2 class="blog-description">{{ site.description }}</h2> -->
        <a href="/" class="btn">Back to Overview</a>
      </div>
    </div>
  </body>
</html>
